html{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background-image: url("graph.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.home-navbar{
    overflow: hidden;
    border-bottom: 1px gray solid;
    margin: -8px;
    padding-right: 2rem;
}
.home-navbar a{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}
.home-navbar a:hover {
    color: white;
}
.home-navbar a.active {
    color: #4CAF50;
}