{% extends 'brinfluence/_layout.html' %}
{% block content %}
{% if user.is_authenticated %}

<!-- HOME PAGE NAV BAR -->
<div class="home-navbar">
    <a href="{% url 'logout' %}" id="home-button" class="logout-button">Logout</a>
    <a href="#" id="navbar-references-contact">Contact</a>
    <a href="#">Services</a>
    <a class="active" href="#">Home</a>
    <a style="float: left; padding-left: 2rem; font-size: 19px;" href="#">
        <i class="fas fa-globe"></i>&nbsp;&nbsp;&nbsp;Social Media Analysis</a>
</div>

<div class="homepage">
    <div class="articles">

        <div class="article">
            <span class="article-headline">ABOUT US</span>
            <p>Social Media Analysis project is the application of AI algorithms on social media data;
                it is a web application that will give influencers and brands an opportunity to have a handy
                tool which will act like a bridge between those two and offer better and optimized correlation.</p>
        </div>

        <div class="article">
            <span class="article-headline">WHY TO CHOOSE US</span>
            <p>Our idea is something what Instagram algorithm has for all users except advanced
                algorithm for business pages which makes it quite time consuming for influencers and brands
                to go all over the recommendations to find what they are looking for. From our perspective,
                almost no practical attempt has been made by Instagram for the purpose of linking brands and
                influencers.</p>
        </div>

    </div>

    <div class="homepage-content">

        <div class="col-sm-4 footer-blurb-item">
            <h3>How does it work?</h3>
            <p>Our project is targeting specifically instagram users, so any user who has a business page
                and working via
                or through instagram has to be either brand or influencer. We are collecting your data (with
                your permission!)
                and helping finding customers depending on the content which you are creating and managing.
                All you have to do
                is to tell us: are you brand or influencer?</p>
            <div class="btn-group">
                <button class="btn" id="btn-brand">I AM BRAND</button>
                <button class="btn" id="btn-influencer">I AM INFLUENCER</button>
            </div>
        </div>

        <!-- BRAND MODAL -->
        <div id="brand-modal" class="brand-modal">
            <div class="brand-modal-content">
                <div>
                    <span class="brand-close">&times;</span>
                    <div class="login-span"
                         style="border-bottom: 1px black solid; padding: 1rem; font-size: 25px; display: flex; justify-content: center;">
                        Choose your brand
                    </div>
                    <div>
                        <ul class="tabcontent" id="1">
                            {% for brand in brands %}
                            <li onclick="location.href='/brinfluence/brand/{{ brand.username }}'" style="background: url({{ brand.profile_pic_url }}) no-repeat left;">@{{ brand.username }}</li>
                            {% endfor %}
                            <!--
                            <li id="cinephilia">@cinephilia_universe</li>
                            <li id="ferhatmrgl">@ferhatmrgl</li>
                            <li id="lashes">@lashes_begaim</li>
                            <li id="deadby13">@deadby13</li>
                            -->
                        </ul>
                    </div>
                    <!--
                    <div>
                        <ul class="tabcontent" id="2">
                            <li id="liakan">@liakan.photo</li>
                            <li id="lianadev">@liana.dev</li>
                        </ul>
                    </div>
                    -->
                    <div style="border-top: 1px solid black !important; padding: 1rem 0; width: 100%; text-align: center;">
                        <div class="tab">
                            <button class="tablinks" onclick="openCity(event, '1')" id="defaultOpen">1</button>
                            <!--
                            <button class="tablinks" onclick="openCity(event, '2')">2</button>
                            <button class="tablinks" onclick="openCity(event, '3')">3</button>
                            -->
                        </div>
                        <div>
                            <button class="next-button" type="submit">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- INFLUENCER MODAL -->
        <div id="influencer-modal" class="brand-modal">
            <div class="brand-modal-content">
                <div>
                    <span class="influencer-close">&times;</span>
                    <div class="login-span"
                         style="border-bottom: 1px black solid; padding: 1rem; font-size: 25px; display: flex; justify-content: center;">
                        Choose your influencer
                    </div>
                    <div>
                        <ul class="tabcontent" id="first">
                            {% for user in users %}
                            <li onclick="location.href='/brinfluence/influencer/{{ user.username }}'" style="background: url({{ user.profile_pic_url }}) no-repeat left;">@{{ user.username }}</li>
                            {% endfor %}
                            <!--
                            <li id="ahmadchourbaji">@ahmadchourbaji</li>
                            <li id="bjenneta">@b.jenneta</li>
                            <li id="lianansan">@liana.nsan</li>
                            <li id="nesval">@n.e.s_val</li>
                            -->
                        </ul>
                    </div>
                    <!--
                    <div>
                        <ul class="tabcontent" id="second">
                            <li id="zayed">@zayed_kotayba</li>
                            <li id="dario">@dario.p_95</li>
                            <li id="oompa">@0ompa_lo0mpa</li>
                        </ul>
                    </div>
                    -->
                    <div style="border-top: 1px solid black !important; padding: 1rem 0; width: 100%; text-align: center;">
                        <div class="tab">
                            <button class="tablinks" onclick="openCity(event, 'first')" id="influencer-defaultOpen">1
                            </button>
                            <!--
                            <button class="tablinks" onclick="openCity(event, 'second')">2</button>
                            <button class="tablinks" onclick="openCity(event, 'third')">3</button>
                            -->
                        </div>
                        <div>
                            <button class="next-button" type="submit">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div>
            <div class="col-sm-4 footer-blurb-item">
                <h3>Main Features</h3>
                <p>Just a few reasons to get the SMA product...</p>
                <div class="features-btn-group">
                    <div class="container-features-btn">
                        <button class="features-btn"><i class="far fa-clock"></i></button>
                        <span class="features-btn-span">Stop Wasting Your Time</span>
                    </div>
                    <div class="container-features-btn">
                        <button class="features-btn"><i class="fas fa-wrench"></i></button>
                        <span class="features-btn-span">Easy To Use</span>
                    </div>
                    <div class="container-features-btn">
                        <button class="features-btn"><i class="fas fa-share-alt"></i></button>
                        <span class="features-btn-span">Advanced API</span>
                    </div>
                    <div class="container-features-btn">
                        <button class="features-btn"><i class="fas fa-chart-line"></i></button>
                        <span class="features-btn-span">Boost Your Income</span>
                    </div>
                    <div class="container-features-btn">
                        <button class="features-btn"><i class="far fa-bell"></i></button>
                        <span class="features-btn-span">Dynamic reporting and response</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="footer">
    <div class="footer-headline"><a href="#" id="footer-references-rules">Software &amp; Security</a> | <a href="#"
                                                                                                           id="footer-references-contact">Contact</a>
    </div>
    <div class="footer-headline">By Dario Pejic & Liana Nassanova</div>
    <div class="footer-headline">Copyright &copy; Capstone Project Fall 2018</div>
</div>

<!-- SOFTWARE SECURITY MODAL -->
<div id="software-modal" class="brand-modal">
    <div class="brand-modal-content">
        <div>
            <span class="software-close">&times;</span>
            <div class="login-span"
                 style="border-bottom: 1px black solid; padding: 1rem; font-size: 25px; display: flex; justify-content: center;">
                Software Design and Security
            </div>
            <div class="contact-modal-content">
                <span>
                    Intentions are to have developed platform where our users can interact with the system
                    in a simple matter. Most of the time, searching and filtering are automated and do not
                    need a human input (except for the user’s profile data which is set up just once while choosing).
                    Additionally, platform is perceived to have an option of searching and suggesting
                    influencers and/or brands with the help of user intervention for cases when user wants to steer
                    away and get somewhat different data which might be specific for a given day, promotions,
                    keyword etc.
                    As from security side, no data is meant to be used in any other way than specified by
                    software. Information is not used without having the user know about it and without
                    gaining the permission (opting-in) from user to utilize his/her data.
                </span>
            </div>
        </div>
    </div>
</div>

<!-- CONTACT MODAL -->
<div id="contact-modal" class="brand-modal">
    <div class="brand-modal-content">
        <div>
            <span class="contact-close">&times;</span>
            <div class="login-span"
                 style="border-bottom: 1px black solid; padding: 1rem; font-size: 25px; display: flex; justify-content: center;">
                Contact us anytime
            </div>
            <div class="contact-modal-content">
                <span style="font-weight: bold;">Dario Pejić</span><br/>
                <span style="color: green;">E-mail:</span> dario.pejic@stu.bahcesehir.edu.tr<br/>
                <span style="color: green;">Phone:</span> +387 60 34 93 699<br/><br/>
                <span style="font-weight: bold;">Liana Nassanova</span><br/>
                <span style="color: green;">E-mail:</span> liana.nassanova@stu.bahcesehir.edu.tr<br/>
                <span style="color: green;">Phone:</span> +90 553 124 34 04
            </div>
        </div>
    </div>
</div>


<script>

// BRAND MODAL
var modal = document.getElementById('brand-modal');
var btn = document.getElementById("btn-brand");
var span = document.getElementsByClassName("brand-close")[0];
btn.onclick = function() {
    modal.style.display = "block";
}
span.onclick = function() {
    modal.style.display = "none";
}

// INFLUENCER MODAL
var influencer_modal = document.getElementById('influencer-modal');
var influencer_btn = document.getElementById("btn-influencer");
var influencer_span = document.getElementsByClassName("influencer-close")[0];
influencer_btn.onclick = function() {
    influencer_modal.style.display = "block";
}
influencer_span.onclick = function() {
    influencer_modal.style.display = "none";
}

// FOOTER CONTACT MODAL
var contact_modal = document.getElementById('contact-modal');
var contact_btn = document.getElementById("footer-references-contact");
var contact_span = document.getElementsByClassName("contact-close")[0];
contact_btn.onclick = function() {
    contact_modal.style.display = "block";
}
contact_span.onclick = function() {
    contact_modal.style.display = "none";
}

// NAVBAR CONTACT MODAL
var contact_modal = document.getElementById('contact-modal');
var contact_btn = document.getElementById("navbar-references-contact");
var contact_span = document.getElementsByClassName("contact-close")[0];
contact_btn.onclick = function() {
    contact_modal.style.display = "block";
}
contact_span.onclick = function() {
    contact_modal.style.display = "none";
}

// SOFTWARE SECURITY MODAL
var software_modal = document.getElementById('software-modal');
var software_btn = document.getElementById("footer-references-rules");
var software_span = document.getElementsByClassName("software-close")[0];
software_btn.onclick = function() {
    software_modal.style.display = "block";
}
software_span.onclick = function() {
    software_modal.style.display = "none";
}

// INFLUENCER TABS
function openInfluencer(influencer_evt, influencerName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(influencerName).style.display = "block";
    influencer_evt.currentTarget.className += " active";
}
document.getElementById("influencer-defaultOpen").click();

// BRAND TABS
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}
document.getElementById("defaultOpen").click();

</script>

<style>

/*FEATURES BUTTONS*/
.features-btn-group .features-btn {
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    cursor: pointer;
    border: none;
    border: 1px green solid;
    border-radius: 10px;
}
.features-btn{
    margin: 0 1.2rem 1rem 0;
    padding: 1.2rem 0;
}
.features-btn-group{
    display: flex;
}
.container-features-btn{
    display:flex;
    flex-direction: column;
    width: 18%;
}
.features-btn-span{
    font-size: 15px;
    text-align: center;
    padding-right: .9rem;
}

/*TABS*/
.tab button:hover {
    background-color: #3e8e41;
}
.tab button.active {
    background-color: green;
}
.tablinks{
    background-color: #4CAF50;
    color: white;
    padding: 7.5px 12px;
    text-align: center;
    border-radius: 100%;
    text-decoration: none;
    cursor: pointer;
    border: 1px green solid;
}
.tab{
    padding-bottom: 1rem;
}
.tabcontent{
    list-style: none;
    margin: 0 40px 0 0;
    font-size: 15px;
}
.tabcontent li{
    cursor: pointer;
    border-bottom: 1px darkgray solid;
    padding: 1.5rem 0 1.5rem 3.5rem;
}
.tabcontent li:last-child{
    border-bottom: none;
}

/* BRAND MODAL */
.brand-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 75px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
}
.brand-modal-content {
    background-color: #fefefe;
    margin: auto;
    width: 60%;
    border-radius: 10px;
}

/* THE CLOSE BUTTON  */
.brand-close, .contact-close, .software-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: -2.5rem;
    padding: .2rem 1rem 0 0;
    position: relative;
}
.influencer-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: -2.5rem;
    padding: .2rem 1rem 0 0;
    position: relative;
}
.brand-close:hover,
.brand-close:focus,
.influencer-close:hover,
.influencer-close:focus,
.contact-close:hover,
.contact-close:focus,
.software-close:hover,
.software-close:focus
{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

</style>

{% else %}

<!-- LOG OUT MODAL -->
<div id="home-modal" class="home-modal">
    <div class="modal-content">
        <div>
            <form class="home-form"
                  style="display: flex; flex-direction: column; align-items: center; padding-bottom: 1rem;"
                  method="post">
                <div class="home-span"
                     style="padding: 1rem; font-size: 25px; display: flex; justify-content: center;">
                    You are not logged in
                </div>
                <div style="border-top: 1px solid black !important; padding-top: 1rem; width: 100%; display: flex; justify-content: center;">
                    <a class="home-button" href="{% url 'login' %}">Login</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

// LOG OUT
var modal = document.getElementById('home-modal');
var btn = document.getElementById("home-button");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
    modal.style.display = "block";
}
span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

</script>

{% endif %}
{% endblock %}